<h3>マイページ</h3>
<br>
<div class="text-center">

<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
   <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
   <% if @user.id == current_user.id %>

  <br>

   <i class="fas fa-user-cog"><%= link_to "プロフィール編集", edit_user_path(@user) %></i>
  <% end %>
</div>


<%= link_to "投稿一覧", post_images_path %>
</div>
